# Copie este arquivo para .env e preencha os valores
TMDB_API_KEY=
GROQ_API_KEY=
DJANGO_SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
# Opcional (se quiser restringir CORS): https://seu-frontend.onrender.com,https://seu-dominio.com
CORS_ALLOWED_ORIGINS=
